certifi==2019.11.28
chardet==3.0.4
concurrent-log-handler==0.9.16
ConcurrentLogHandler==0.9.1
configparser==4.0.2
Django==2.2.27
django-filter==2.2.0
djangorestframework==3.11.0
gunicorn==19.9.0
idna==2.8
Markdown==3.1.1
pkg-resources==0.0.0
portalocker==1.7.0
pytz==2019.3
requests==2.22.0
sqlparse==0.3.0
stripe==2.48.0
urllib3==1.25.8
